<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .vxpt_table {
            width: 100%;
            box-sizing: border-box;
        }

        .vxpt_table_row {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
        }


        .vxpt_table_row {
            max-width: 100%;
        }
    </style>
</head>

<body>

    <div class="vxpt_table_col">
        <div class="vxpt_table_row ##is_highlighted##">
            <div class="vxpt_table_row col_title">
                ##col_title##
            </div>
            <div class="vxpt_table_row col_description">
                ##description##
            </div>
            <div class="vxpt_table_row col_price">
                <sup class="vxpt-price-currency">##col_price_currency##</sup><span
                    class="vxpt-price-value">##col_price##</span><span class="vxpt-price-suffix">
                    ##col_price_suffix##</span>
            </div>
            <div class="vxpt_table_row col_features">
                <ul class="table-list">
                    ##col_feature_list##
                </ul>
            </div>
            <div class="col_cta">
                <a href="##col_cta_btn_lnk##" class="btn_cta"> ##col_cta_btn_text## </a>
            </div>
        </div>

    </div>

</body>

</html>